<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
      <h1> 소개 및 기능</h1>
      <ol>
        <li> 자동채점 </li>
        <li> 소재-문제 유형 별 구분 </li>
        <li> 난이도 별 구분 </li>
      </ol>
    </div>
  </body>
</html>
