<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
      <h1> 자동채점</h1>
      <ol>
        <li> 자동채점 </li>
        
      </ol>
    </div>
  </body>
</html>
