<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>OSS Project</h1>
        <h1>Jang kyubum</h1>
        <P>각종 객관식 기출 문항에 대한 채점 및 오답노트 생성 홈페이지</p>
      </div>

    </div>
  </body>
</html>
